@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Kaushan+Script&family=Roboto&display=swap");
.header {
  width: 100%;
  background: #28292b;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  color: #ecf0f1;
  font-family: "Kaushan Script", cursive;
}
.header__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__title {
  font-size: 32px;
  font-weight: 700;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__link {
  font-size: 24px;
  color: #ecf0f1;
  position: relative;
  transition: all 0.5s;
  padding: 5px 0;
  margin: 0 0 0 10px;
}
.header__link::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  background: #b77e4b;
  bottom: -5px;
  transform: scaleX(0);
  transition: all 0.5s;
}
.header__link:hover {
  transform: translateY(-7px);
}
.header__link:hover::before {
  transform: scaleX(1);
}
.header__cart {
  width: 30px;
  height: 30px;
  order: 3;
  margin: 0 0 0 10px;
  z-index: 50;
}

.hero {
  width: 100%;
  min-height: 230px;
  margin: 250px 0 150px 0;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  font-family: "Kaushan Script", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  color: #ecf0f1;
}
.hero__subtitle {
  font-size: 2.5rem;
  color: #ecf0f1;
  margin: 20px 0 0 0;
  font-weight: 400;
}
.hero__btn {
  color: #28292b;
  border: 2px #ecf0f1 solid;
  background: #ecf0f1;
  margin: 20px 0 0 0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hero__btn:hover {
  background: transparent;
  color: #ecf0f1;
}

.about-us {
  width: 100%;
  background: #28292b;
  min-height: 350px;
}
.about-us__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__item {
  flex: 0 1 50%;
  justify-content: center;
  padding: 30px;
}
.about-us__item img {
  padding: 30px;
}
.about-us__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us__title {
  color: #ecf0f1;
  margin: 0 0 20px 0;
}
.about-us__text {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 1.5;
  color: #d4d8d9;
}

.menu, .cart {
  width: 100%;
  min-height: 100px;
  background: #ecf0f1;
}
.menu__body, .cart__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__title, .cart__title {
  color: #28292b;
  margin: 0 0 15px 0;
  text-align: center;
}
.menu__button, .cart__button {
  background: #174536;
  color: #ecf0f1;
}
.menu__button:hover, .cart__button:hover {
  background: #215C48;
}
.menu__footer, .cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu__payment-btn, .cart__payment-btn {
  margin-left: auto;
  margin-right: 10px;
}
.menu__price, .cart__price {
  font-size: 18px;
  font-weight: 700;
}
.menu table, .cart table {
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0 15px 0;
  text-align: center;
}
.menu table thead, .cart table thead {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 700;
}
.menu table tbody, .cart table tbody {
  font-size: 18px;
}
.menu table td, .cart table td {
  width: 20%;
  border: 1px solid #28292b;
  color: #28292b;
  padding: 5px;
  overflow-wrap: break-word;
}

.footer {
  width: 100%;
  background: #28292b;
  color: #ecf0f1;
}
.footer__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecf0f1;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.form label {
  font-size: 18px;
  margin: 5px;
}
.form__text-input {
  font-size: 18px;
  margin: 15px 0;
  background: none;
  border-bottom: 2.5px #28292b solid;
  text-align: center;
  width: 250px;
}
.form__submit-btn {
  color: #28292b;
  background: #174536;
  color: #ecf0f1;
  cursor: pointer;
}
.form__submit-btn:hover {
  background: #215C48;
}
.form__sign-up-btn {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0 0 0;
}

body {
  font-family: "Baslamiq Sans", cursive;
  background: url("../image/body-bg.webp") center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  width: 135px;
  height: 45px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s linear;
}

.line {
  width: 120px;
  height: 3px;
  margin: 0 15px 0 0;
  background-color: #b77e4b;
}

.title {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
  font-weight: 700;
}

.flexible-img {
  width: 100%;
  height: auto;
}

.logout-btn {
  display: block;
  padding: 5px;
  width: 35px;
  height: 35px;
}