.about-us {
    width: 100%;
    background: #28292b;
    min-height: 350px;
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        flex: 0 1 50%;
        justify-content: center;
        padding: 30px;
        img {
            padding: 30px;
        }
    }
    &__info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title {
        color: #ecf0f1;
        margin: 0 0 20px 0;
    }
    &__text {
        margin: 20px 0 0 0;
        font-size: 18px;
        line-height: 1.5;
        color: #d4d8d9;
    }
}