.header {
    width: 100%;
    background: #28292b;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    color: #ecf0f1;
    font-family: 'Kaushan Script', cursive;
    &__navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__title {
        font-size: 32px;
        font-weight: 700;
    }
    &__menu {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &__link {
        font-size: 24px;
        color: #ecf0f1;
        position: relative;
        transition: all 0.5s;
        padding: 5px 0;
        margin: 0 0 0 10px;
        &::before {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            background: #b77e4b;
            bottom: -5px;
            transform: scaleX(0);
            transition: all 0.5s;
        }
        &:hover {
            transform: translateY(-7px);
            &::before {
                transform: scaleX(1);
            }
        }
    }
    &__cart , &__admin{
        width: 30px;
        height: 30px;
        order: 3;
        margin: 0 0 0 10px;
        z-index: 50;
    }
}